<div class="row">
  <div class="jumbotron">
    <div class="text-center">
      <h1>Login Page</h1>

      <p>{{ message }}</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="password" name="password" ng-model="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" ng-model="password" class="form-control">
        </div>
        <div class="row control-group">
            <div class="col-md-3">
                <button class="btn btn-success" ng-click="login()">Login</button>
            </div>
            <div class="col-md-3">
                <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
